on early-init
    start ueventd

on boot-pause
    exec system/bin/battery_charging

on fs
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0771 system system
    mkdir /devlog 0700 root root

    mount ext4 /dev/block/mmcblk0p7 /system wait ro barrier=1
    mount ext4 /dev/block/mmcblk0p8 /data wait noatime nosuid nodev barrier=1 noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p11 /cache wait noatime nosuid nodev barrier=1

    # mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint

    #BenLiao for replace build.prop build_id build_proj
    #mount ext4 /dev/block/mmcblk0p7 /system ro barrier=1 wait
    mount ext4 /dev/block/mmcblk0p7 /system rw barrier=1 wait

    exec /system/bin/tune2fs -c 1 /dev/block/mmcblk0p8    
    exec /system/bin/e2fsck -f -v -y /dev/block/mmcblk0p8
    mount ext4 /dev/block/mmcblk0p8 /data nosuid nodev noatime barrier=1,noauto_da_alloc

    exec /system/bin/tune2fs -c 1 /dev/block/mmcblk0p11    
    exec /system/bin/e2fsck -f -v -y /dev/block/mmcblk0p11   
    mount ext4 /dev/block/mmcblk0p11 /cache nosuid nodev noatime barrier=1,noauto_da_alloc

#    #Div6-D1-JL-UsbPorting-00+{
#    mkdir /hidden 0771 system system
#    mount ext3 /dev/block/mmcblk0p10 /hidden nosuid nodev

#    # Add new partition "cda".
#    mkdir /hidden/data 0771 system system
#    mount ext3 /dev/block/mmcblk0p9 /hidden/data nosuid nodev

on boot
    # basic network init
    ifup lo
    hostname localhost
    domainname localdomain

    # qmuxd socket
    mkdir /data/radio 0770 radio radio
    chown radio radio 0770 /data/radio

    insmod /system/lib/modules/ss_mfcinit.ko
    insmod /system/lib/modules/ss_vencoder.ko
    insmod /system/lib/modules/ss_vdecoder.ko
    chmod 0666 /dev/ss_mfc_reg
    chmod 0666 /dev/ss_vdec
    chmod 0666 /dev/ss_venc

    # Right now vendor lives on the same filesystem as system,
    # but someday that may change.
    symlink /system/vendor /vendor

    # create mountpoints
    mkdir /mnt 0775 root system
    mkdir /mnt/sdcard 0000 system system

    # Create cgroup mount point for cpu accounting
    mkdir /acct
    mount cgroup none /acct cpuacct
    mkdir /acct/uid

    # Backwards Compat - XXX: Going away in G*
    symlink /mnt/sdcard /sdcard

    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /config 0500 root root

    mkdir /data/misc 01775 system misc

    # Directory for putting things only root should see.
    mkdir /mnt/secure 0700 root root

    # Directory for staging bindmounts
    mkdir /mnt/secure/staging 0700 root root

    # Directory-target for where the secure container
    # imagefile directory will be bind-mounted
    mkdir /mnt/secure/asec  0700 root root

    # Secure container public mount points.
    mkdir /mnt/asec  0700 root system
    mount tmpfs tmpfs /mnt/asec mode=0755,gid=1000

    # Filesystem image public mount points.
    mkdir /mnt/obb 0700 root system
    mount tmpfs tmpfs /mnt/obb mode=0755,gid=1000

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0

    #FIH; Louis; 2010/5/31
    chmod 0772 /dev/kmsg

    # Create cgroup mount points for process groups
    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0777 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024

    mkdir /dev/cpuctl/fg_boost
    chown system system /dev/cpuctl/fg_boost/tasks
    chmod 0777 /dev/cpuctl/fg_boost/tasks
    write /dev/cpuctl/fg_boost/cpu.shares 1024

    mkdir /dev/cpuctl/bg_non_interactive
    chown system system /dev/cpuctl/bg_non_interactive/tasks
    chmod 0777 /dev/cpuctl/bg_non_interactive/tasks
    # 5.0 %
    write /dev/cpuctl/bg_non_interactive/cpu.shares 52

    #Create directories for gpsone_daemon services
    mkdir /data/gpsone_d 0770 gpsone_d qcom_oncrpc
    mkdir /etc/gpsone_d 0770 gpsone_d qcom_oncrpc

    #/Div6-PT1-GPS-LNA_LDO-00+[
    chown system system /dev/gps_sync
    chmod 0777 /dev/gps_sync

    # Create directory from IMS services
    mkdir /data/shared 0777

    #Set SUID bit for usbhub
    chmod 4755 /system/bin/usbhub
    chmod 755 /system/bin/usbhub_init

    #Set SUID for diag_mdlog
    chmod 4755 /system/bin/diag_mdlog

    # Tweak background writeout
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_background_ratio  5

    chmod 0666 /sys/module/akm8975/parameters/als_enabled
    chmod 0666 /sys/module/akm8975/parameters/ps_enabled

    chmod 0666 /dev/ttyHS1
    chmod 0666 /dev/ir_mcu

    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    chown system system /sys/module/android/parameters/product_id
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/msm_hsusb/gadget/wakeup

    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/button-backlight/blink
    chown system system /sys/class/leds/red/device/ledon
    chown system system /sys/class/leds/red/device/ledoff

    chmod 0655 /sys/bus/platform/devices/rs300000a7.65536/force_sync
    chown system system /sys/bus/platform/devices/rs300000a7.65536/force_sync

    chmod 0665 /dev/graphics/fb0
    chmod 0665 /dev/graphics/fb1

    chmod 0666 /dev/kgsl-2d0
    chmod 0666 /dev/kgsl-3d0

    chmod 0666 /sys/class/leds/button-backlight/brightness

    chmod 0666 /sys/class/leds/red/brightness
    chmod 0666 /sys/class/leds/green/brightness

    chmod 4777 /system/bin/mm-audio-mvs-test-int
    chmod 4777 /system/bin/mm-audio-mvs-test-ext

    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    mkdir /data/misc/bluetooth 0770 system system
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0666 /sys/module/bluetooth_power/parameters/power
    chmod 0666 /sys/class/rfkill/rfkill0/state
    chmod 0666 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0666 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0666 /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock
//    chmod 4755 /system/bin/btwlancoex

    chmod 0666 /sys/class/rfkill/rfkill1/state
    chmod 0666 /data/hostapd/hostapd.conf

    # WIFI filesystem structure
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    chmod 0770 /data/misc/wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin
    symlink /data/hostapd/qcom_cfg.ini /etc/firmware/wlan/qcom_cfg.ini
    setprop wifi.interface wlan0

    #Div2-SW6-Connectivity-CD-WiFi-WAPI-00+{
    mkdir /data/certificate 0777 wifi wifi
    chmod 0777 /system/etc/wifi/cert_chmod.sh
    mkdir /data/local 0771 shell shell

    #sw2-6-1-Connectivity-RH-Wifi_Hotspot-00+[
    chmod 0666 /system/etc/hostapd/hostapd.accept
    chmod 0666 /system/etc/hostapd/hostapd.deny
    chmod 0666 /system/etc/hostapd/hostapd.conf

    #sw2-6-1-Connectivity-RH-Wifi_Hotspot-00+[
    chmod 0666 /data/hostapd/hostapd.accept
    chmod 0666 /data/hostapd/hostapd.deny
    chmod 0666 /data/hostapd/hostapd.conf

    # create dalvik-cache and double-check the perms
    mkdir /data/dalvik-cache 0771 system system
    chown system system /data/dalvik-cache
    chmod 0771 /data/dalvik-cache

    mkdir /cache/dalvik-cache 0771 system system
    chown system system /cache/dalvik-cache
    chmod 0771 /cache/dalvik-cache

    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/vpn 0770 system system
    mkdir /data/misc/systemkeys 0700 system system
    mkdir /data/misc/vpn/profiles 0770 system system
    mkdir /data/local/tmp 0777 shell shell
    mkdir /data/data 0771 system system
    mkdir /data/app-private 0771 system system
    mkdir /data/app 0771 system system
    mkdir /data/property 0700 root root
    mkdir /data/radio 0770 radio radio

# ShaunLuo @ 20110308 : chmod 777 to /data/local/tmp


    #Power Management 
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 245760 
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1024000 
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

    #change permissions on vmallocinfo so we can grab it from bugreports
    chown root log /proc/vmallocinfo
    chmod 0440 /proc/vmallocinfo

    #change permissions on kmsg & sysrq-trigger so bugreports can grab kthread stacks
    chown root system /proc/kmsg
    chmod 0440 /proc/kmsg
    chown root system /proc/sysrq-trigger
    chmod 0220 /proc/sysrq-trigger

    #Sensors-Porting_New_Sensors_Architecture
    chown compass system /dev/yas529
    chmod 0666 /dev/yas529
    chown compass system /dev/bma150
    chmod 0666 /dev/ltr502als_alsps

    chmod 0664 /sys/class/input/input2/enable
    chmod 0664 /sys/class/input/input2/data
    chmod 0664 /sys/class/input/input2/name
    chown system input /sys/class/input/input2/enable
        chown system input /sys/class/input/input2/delay
        chown system input /sys/class/input/input2/wake
   
    chmod 0664 /sys/class/input/input3/enable
    chmod 0664 /sys/class/input/input3/data
    chmod 0664 /sys/class/input/input3/name
    chown system input /sys/class/input/input3/enable
        chown system input /sys/class/input/input3/delay
        chown system input /sys/class/input/input3/wake

        chmod 0664 /sys/class/input/input4/enable
    chmod 0664 /sys/class/input/input4/data
    chmod 0664 /sys/class/input/input4/name
        chown system input /sys/class/input/input4/enable
        chown system input /sys/class/input/input4/delay
        chown system input /sys/class/input/input4/wake
        chmod 0664 /sys/class/input/input5/enable
    chmod 0664 /sys/class/input/input5/data
    chmod 0664 /sys/class/input/input5/name
        chown system input /sys/class/input/input5/enable
        chown system input /sys/class/input/input5/delay
        chown system input /sys/class/input/input5/wake

        chmod 0664 /sys/class/input/input6/enable
    chmod 0664 /sys/class/input/input6/data
    chmod 0664 /sys/class/input/input6/name
        chown system input /sys/class/input/input6/enable
        chown system input /sys/class/input/input6/delay
        chown system input /sys/class/input/input6/wake

    chmod 0664 /sys/class/input/input7/enable
    chmod 0664 /sys/class/input/input7/data
    chmod 0664 /sys/class/input/input7/name
        chown system input /sys/class/input/input7/enable
        chown system input /sys/class/input/input7/delay
        chown system input /sys/class/input/input7/wake

    chmod 0664 /sys/class/input/input8/enable
    chmod 0664 /sys/class/input/input8/data
    chmod 0664 /sys/class/input/input8/name
        chown system input /sys/class/input/input8/enable
        chown system input /sys/class/input/input8/delay
        chown system input /sys/class/input/input8/wake

    chmod 0664 /sys/class/input/input9/enable
    chmod 0664 /sys/class/input/input9/data
    chmod 0664 /sys/class/input/input9/name
        chown system input /sys/class/input/input9/enable
        chown system input /sys/class/input/input9/delay
        chown system input /sys/class/input/input9/wake

    chmod 0664 /sys/class/input/input10/enable
    chmod 0664 /sys/class/input/input10/data
    chmod 0664 /sys/class/input/input10/name
        chown system input /sys/class/input/input10/enable
        chown system input /sys/class/input/input10/delay
        chown system input /sys/class/input/input10/wake

        chmod 0664 /sys/class/input/input11/enable
    chmod 0664 /sys/class/input/input11/data
    chmod 0664 /sys/class/input/input11/name
        chown system input /sys/class/input/input11/enable
        chown system input /sys/class/input/input11/delay
        chown system input /sys/class/input/input11/wake


    # create the lost+found directories, so as to enforce our permissions
    mkdir /data/lost+found 0770
    mkdir /cache/lost+found 0770

    # double check the perms, in case lost+found already exists, and set owner
    chown root root /data/lost+found
    chmod 0770 /data/lost+found
    chown root root /cache/lost+found
    chmod 0770 /cache/lost+found

    #SW2-5-1-MP-DbgCfgTool-00+[
    chmod 0666 /dev/dbgcfgtool
    mkdir /data/efslog 0777 system system
    mkdir /data/efslog/err 0777 system system
    mkdir /data/efslog/OEMDBG_LOG 0777 system system
    mkdir /data/efslog/qxdm 0777 system system
    mkdir /data/last_kmsg 0777 system system
    mkdir /data/last_alog 0777 system system

    # Discretix DRM change start FihTDCCode@20101129 kolinko or FB0.B-2191 begin
    mkdir /data/DxDrm
    mkdir /data/DxDrm/fuse
    chmod 555 /data/DxDrm
    mkdir /sdcard/download
    
    chmod 0755 /system/xbin/hcitool
    
    # set RLIMIT_NICE to allow priorities from 19 to -20
    setrlimit 13 40 40

# FIHTDC, Div2-SW2-BSP, Penho, PCTOOL {
#   losetup /dev/block/loop1 /hidden/custom.iso
#   write /sys/devices/platform/usb_mass_storage/lun1/file /dev/block/loop1


    # Permissions for System Server and daemons.
    chown radio system /sys/android_power/state
    chown radio system /sys/android_power/request_state
    chown radio system /sys/android_power/acquire_full_wake_lock
    chown radio system /sys/android_power/acquire_partial_wake_lock
    chown radio system /sys/android_power/release_wake_lock
    chown radio system /sys/power/state
    chown radio system /sys/power/wake_lock
    chown radio system /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/module/sco/parameters/disable_esco
    chown system system /sys/kernel/ipv4/tcp_wmem_min
    chown system system /sys/kernel/ipv4/tcp_wmem_def
    chown system system /sys/kernel/ipv4/tcp_wmem_max
    chown system system /sys/kernel/ipv4/tcp_rmem_min
    chown system system /sys/kernel/ipv4/tcp_rmem_def
    chown system system /sys/kernel/ipv4/tcp_rmem_max
    chown root radio /proc/cmdline

   #sw2-6-1-Connectivity-RH-Wifi_Hotspot-00+[
   mount ext4 /dev/block/mmcblk0p7 /system rw remount
 
    # +++ AlbertYCFang , 2010.12.01 +++
    # Prevent from android.permission.cts.FileSystemPermissionTest#testDataDirectoryNotWritable
    chmod 0771 /data
   
    # Div2-SW2-BSP, Vincent Chen
    chmod 0777 /dev/bi041p

    # +++ AlbertYCFang 2011.04.18 for BTtools and TestMode +++
    chmod 4777 /system/xbin/hcitool

    chmod 0444 /proc/pmlog

     # Create directories for wiper services
    mkdir /data/wpstiles/ 0777 shell
    mkdir /data/wiper 0777 location qcom_oncrpc

    # Remove write permissions to video related nodes
    chmod 0664 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0664 /sys/devices/virtual/graphics/fb1/video_mode
    chmod 0664 /sys/devices/virtual/graphics/fb1/format_3d

#   chown system system /system/etc/ms3c_yamaha_pre.cfg
#   chmod 0777 /system/etc/ms3c_yamaha_pre.cfg

    # Change owner and group for media server and surface flinger
    chown media system /sys/devices/virtual/graphics/fb1/format_3d

    #increase dirty_writeback_interval
    write /proc/sys/vm/dirty_writeback_centisecs 60000
    write /proc/sys/vm/dirty_expire_centisecs 60000
    write /proc/sys/vm/laptop_mode 5

    #Set SUID bit for diag_mdlog
    chmod 0755 /system/bin/diag_mdlog

    # FIH, HenryMCWang, 2010/08/17, +++
    # Set /dev/kmsg & /proc/mlog user/group to system
    chown system system /dev/kmsg
    chown system system /proc/mlog

    #FIH; Louis; 2010/5/10
    chown compass system /dev/compass
    chmod 0777 /dev/compass
    chown compass system /dev/ltr502als_alsps
    chmod 0777 /dev/ltr502als_alsps


###################################################################################

# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 6144,87380,110208,6144,16384,110208
    setprop net.tcp.buffersize.wifi    262144,524288,1048576,262144,524288,1048576
    setprop net.tcp.buffersize.umts    6144,87380,110208,6144,16384,110208
    setprop net.tcp.buffersize.edge    6144,26280,35040,6144,16384,35040
    setprop net.tcp.buffersize.gprs    6144,8760,11680,6144,8760,11680
    setprop net.tcp.buffersize.evdo_b  6144,262144,1048576,6144,262144,1048576

# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  262144
    write /proc/sys/net/core/wmem_max  262144

    setprop ro.data.large_tcp_window_size true

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1


##################################################################################


service dbus /system/bin/dbus-daemon --system --nofork
    socket dbus stream 660 bluetooth bluetooth
    user bluetooth
    group bluetooth net_bt_admin

service bluetoothd /system/bin/bluetoothd -n
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled


service ueventd /sbin/ueventd
    critical

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0

service cnd /system/bin/cnd
	socket cnd stream 660 root radio

service wpdiagd /system/bin/wpdiagd
    oneshot
    socket wpdiagd stream 666

service netmgrd /system/bin/netmgrd

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

# KD 9/12/2011  Add service at boot to populate the APN in the telephony area
service apn-populate /system/bin/sh /system/etc/init.apn.sh
    user root
    group radio
    oneshot

service gpsone_daemon /system/bin/gpsone_daemon
    user root
    group qcom_oncrpc
    disabled

#service btwlancoex /system/bin/sh /system/etc/init.qcom.coex.sh
#    user shell
#    group bluetooth net_bt_admin
#    disabled
#    oneshot


service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p14 /dev/block/mmcblk0p15
   user root
#  disabled

service qmuxd /system/bin/qmuxd
    user radio
    group radio

#SW2-5-1-MP- Add 'loggerlauncher' socket
service loggerlauncher /system/bin/loggerlauncher
    group system
    oneshot
    socket loggerlauncher stream 666 system system

service fm_server /system/bin/fm_server
    user system
    group system
    oneshot

service wiperiface /system/bin/wiperiface
    user location
    group qcom_oncrpc
    oneshot

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    user system
    group system qcom_oncrpc
    disabled
    oneshot

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    user root
    disabled
    oneshot

service qcom-sh /system/bin/sh /init.qcom.sh
    user root
    oneshot

service hdmid /system/bin/hdmid
    #socket hdmid stream 0660 root system graphics
    user system 
    group system graphics 
    socket hdmid stream 0660 system system 
    disabled

#service akmd /system/bin/akmd8975
#    user compass
#    group system

service servicemanager /system/bin/servicemanager
    user system
    critical
    onrestart restart zygote
    onrestart restart media

service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    user root
    group root
    oneshot
    disabled

service thermald /system/bin/thermald
    user root
    group root
    disabled

service geomagneticd /system/bin/geomagneticd
    user compass
    group system input

service orientationd /system/bin/orientationd
    user compass
    group system input
	
service proximityd /system/bin/proximityd
    user compass
    group system input
	
service lightd /system/bin/lightd
    user compass
    group system input

#FIH; Louis; 2010/5/10
service sensor-daemon /system/bin/sensorserver_yamaha
    user compass
    group system

service netd /system/bin/netd
    socket netd stream 0660 root system

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
    user root
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BKL
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BKL wlan0
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

service qcom-wifi /system/bin/sh /system/etc/init.qcom.wifi.sh
    user root
    disabled
    oneshot

service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    user root
    group root
    oneshot
    disabled

service zygote /system/bin/app_process -Xzygote /system/bin --zygote --start-system-server
    socket zygote stream 666
    onrestart write /sys/android_power/request_state wake
    onrestart write /sys/power/state on
    onrestart restart media
    onrestart restart netd

service media /system/bin/mediaserver
    user media
    group system audio service ueventd /sbin/ueventd
    criticalcamera graphics inet net_bt net_bt_admin net_raw  qcom_oncrpc
    ioprio rt 4

#brianlee@2011311: modify for wpdiagd ++ begin ++
service wpdiagd /system/bin/wpdiagd
  oneshot
  socket wpdiagd stream 666

service ckpd /system/bin/CKPD-daemon
    user system
    group system radio
    disabled
    onrestart /system/bin/log -t RIL-CKPD -p w "CKPD daemon restarted"

#sw2-6-1-Connectivity-RH-Wifi_Hotspot-00*[
service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    user root
    group root
    oneshot
    disabled

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    group radio
    disabled
    oneshot

service ims_regmanager /system/bin/exe-ims-regmanagerprocessnative
    user system
    group qcom_oncrpc net_bt_admin inet radio wifi
    disabled

service console /system/bin/sh
    console
    disabled
    user shell
    group log

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service installd /system/bin/installd
    socket installd stream 600 system system

 # Discretix DRM change start FihTDCCode@20101129 kolinko or FB0.B-2191 begin
service dx_drm_server /system/bin/DxDrmServerIpc -f -o allow_other /data/DxDrm/fuse

service racoon /system/bin/racoon
    socket racoon stream 600 system system
    # racoon will setuid to vpn after getting necessary resources.
    group net_admin
    disabled
    oneshot

service mtpd /system/bin/mtpd
    socket mtpd stream 600 system system
    user vpn
    group vpn net_admin net_raw
    disabled
    oneshot

service keystore /system/bin/keystore /data/misc/keystore
    user keystore
    group keystore
    socket keystore stream 666

service dumpstate /system/bin/dumpstate -s
    socket dumpstate stream 0660 shell log
    disabled
    oneshot
   
# FIHTDC, Div2-SW2-BSP HenryMCWang, pmlog
service logfile /system/bin/logfile -b -f /data/pmlog.log
    user system
    group system
    oneshot

service mlog /system/bin/mlog
    user system
    group system
    oneshot

service ril-daemon /system/bin/rild
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag
    disabled

service debuggerd /system/bin/debuggerd

service vold /system/bin/vold
    socket vold stream 0660 root mount
    ioprio be 2

# Export GPIO56 for fusion targets to enable/disable hub
service usbhub_init /system/bin/usbhub_init
   user root
   disabled
   oneshot

service time_daemon /system/bin/time_daemon
    user root
    group root
    oneshot
    disabled

service ftp /system/bin/sdptool add --channel=20 FTP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service map /system/bin/sdptool add --channel=16 MAS
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# Export GPIO56 for fusion targets to enable/disable hub
service usbhub_init /system/bin/usbhub_init
   user root
   disabled
   oneshot

on property:crypto.driver.load=1
     insmod /system/lib/modules/qce.ko
     insmod /system/lib/modules/qcedev.ko

on property:crypto.driver.load=0
     exec /system/bin/rmmod qcedev.ko
     exec /system/bin/rmmod qce.ko

    setprop persist.thermal.monitor true

on property:persist.thermal.monitor=true
    start thermald

on property:ro.hdmi.enable=true
    start hdmid

on property:persist.timed.enable=true
    mkdir /data/time/ 0700
    start time_daemon

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

on property:init.svc.bootanim=stopped
    start qcom-post-boot
    start qcom-wifi

on property:persist.ims.regmanager.mode=1
    start ims_regmanager

on property:ro.service.ckpd.enable=1
    start ckpd

on property:ro.product.device=msm7630_fusion
    start usbhub_init

# netmgr not supported on specific target
on property:ro.use_data_netmgrd=false    
    stop netmgrd

on property:ro.secure=0
    start console

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
#   start btwlancoex

#on property:init.svc.bluetoothd=stopped
#    stop btwlancoex

